body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #0e0e0e;
  color: #e6e6e6;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


#clock {
  font-family: system-ui, monospace;
  font-size: 8rem;
  color: #e6e6e6;
  filter: blur(0px);
}
